@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed:400,700);
@import "theme-Espresso_Libre.less";

// @import (reference) "bootstrap/less/mixins.less";
// @import (reference) "bootstrap/less/variables.less";

@body-background: darken(@theme-background, 5%);
@member-icon-size: 32px;

.flex-container-rowfree {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}

.flex-children {
	flex: 0 1 auto;
}

.flex-breaker {
	flex: 0 1 100%;
}


body {
	.theme;
	background: @body-background;
	border-color: @theme-foreground;
	font-family: lato, "Roboto Condensed";

}
::selection {
  background-color: @theme-selection;
}

button {
	background: @theme-background;
	border: 1px solid;
	padding: 1px 16px;
  display: block;
  outline:none;
}


div.workspace {
	.flex-container-rowfree;
	height: 75vh;
	margin: 1px;
	overflow-y: scroll;
	div.group {
		.flex-children;
	}
	div.breaker {
		.flex-breaker;
	}
}

.ui-border {
	border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

div.group {
  width: 210px;
  border: 5px solid @body-background;
  &:focus {
  	border: 5px solid @theme-background;
  	outline:none;
  }
  & > span.title {
  	font-weight: bold;
  }

  .button-group {
  	.flex-container-rowfree;
	  	button {
	  	.ui-border;
		  flex: 1 1 auto;
		  font-size: 16px;
		  &:hover {
			  background: #000;
			}
			&:active {
				background: #fff;
			}
			&.active {
				background: #fff;
			}
		}
  }

	& > ul {
		.ui-border;
	  padding: 0px;
	  margin: 0px;
		li.member {
		  list-style-type: none;
		  cursor: pointer;

		  &.select {
			  .theme-user-defined-constant;
			  background: @theme-lineHighlight;
			}
			&.last-select {
			  .theme-user-defined-constant;
			  color: lighten(@theme-user-defined-constant-foreground, 20%);
			}
			& span.title {
				padding: ((@member-icon-size - 20px) / 2) 2px;
			}
			&	img {
		  	height: @member-icon-size;
		  	width: @member-icon-size;
		  }
		  & span.glyphicon {
		  	padding: 4px;
		  	font-size: @member-icon-size - 4px * 2;
		  }
		}
	}
}



div.json-viewer pre {
	.theme;
	.ui-border;
	padding: 0px;
  line-height: 1.2;
	span.string {
		.theme-string;
	}
	span.number {
		.theme-number;
	}
	span.quota {
		.theme-preprocessor-line;
	}
	span.changed {
		.theme-user-defined-constant;
	}
	span.importants {
		font-weight: bold;
	}
}

div.event-viewer pre {
	height: 100%;

  span.record {
  	padding-left: 12px; 
  	display: block;
  	&.trace {
  		.theme-js-operator;
	  }
	  &.debug {
	  	color: @theme-invisibles;
	  }
	  &.info {

	  }
	  &.warn {
	  	color: #fff;
	  	background: darken(yellow, 10%);
	  }
	  &.error {
	  	color: #fff;
	  	background: darken(red, 20%);
	  }
	  &.fatal {
	  	color: #fff;
	  	background: darken(red, 10%);
	  }
	  &.fail {
	  	background: darken(red, 30%);
	  }
	  &.success {
	  	background: @theme-preprocessor-line-foreground;
	  }
	  &.system {
	  	.theme-string-interpolation;
	  }
	}

  span.timestamp {
		.theme-js-operator;
  	float: right;
  }

  span.tag {
  	margin: 0px 10px;
  	font-weight: bold;
  }
}


/*
.jspDrag {
	background: lighten(@theme-background, 20%);
}
.jspTrack {
	background: lighten(@theme-background, 5%);
}
*/